<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>search results</title>
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/nav.css">
</head>
<body>
    <div class="topnav home">
        <label for="home" style="text-decoration: underline; font-weight: bold; font-size: xx-large; margin-left: 3vw;">KFC Bucket boy<br></label>
        <a href="/" class="active" id="home" id="home">Home</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/leaderboards">Leaderboards</a>
        <a href="/devs">Devs</a>
        <a href="/donate">Donate</a>
        <a href="/contact">Contact</a>
        <a href="/about">About</a>
    </div>

    <div class="buttons">
      <a href="" class="invite">Invite me!</a>
      <a href="" class="server">Support server</a>
      <a href="" class="commands">Commands</a>
    </div>

    <div class="info">
        <div class="desc">
            <section class="left-box">
              <article class="left-side">
                <h3>Why I'm important!</h3>
                <p>
                  I give free buckets to all that add me!<br />(Using the command
                  <code>k!bucket</code> )<br />If you're still not convinced
                  <strike>somehow?</strike> here's a list for more reasons as to
                  why
                </p>
                <ul>
                  <li>
                    I am capable of Staff like commands! for example
                    <code>k!warn</code>, <code>k!kick</code>,
                    <code>k!ban</code> and even <code>k!modlogs</code>
                  </li>
                  <li>
                    My XP system is split between both server and global! a full
                    list of commands can be found at
                    <a href="https://bucketbot.dev/commands">commands</a>
                  </li>
                  <li>
                    I can make what you want into a youtube comment with a simple
                    <code>k!comment</code> you can pretend you're so popular!
                  </li>
                </ul>
              </article>
            </section>
          </div>
          <div class="container" id="table">
            <table id="data-table">
              <tbody>
                <tr style="text-align: center; color: indianred">
                  <th>
                    <h1><u>Name</u></h1>
                  </th>
                  <th>
                    <h1><u>Data</u></h1>
                  </th>
                </tr>
                <tr>
                  <td>
                    <a
                      class="link"
                      title="Join the Karma Kingdom!"
                      href="https://discord.gg/nQRC3SR"
                    >
                      Support Server Member Count</a
                    >
                  </td>
                  <td id="supportcount">375</td>
                </tr>
                <tr>
                  <td>Servers</td>
                  <td id="botstats">281</td>
                </tr>
                <tr>
                  <td>Total Member Count</td>
                  <td id="memberCount">159893</td>
                </tr>
                <tr>
                  <td>API Uptime</td>
                  <td id="uptime">49 days</td>
                </tr>
              </tbody>
            </table>
          </div>
          <section class="right-box">
            <article class="right-side">
              <img
                class="head-icon"
                src="https://bucketbot.dev/imgs/KFCautism.png"
                alt="KFC"
                title="The one and only, beautiful faced boy!"
              />
              <h2>KFC Bucket Boy</h2>
              <p>
                Im the bot you wish were your best friend, I should also be voted
                for president as I can see my face represents true beauty!
              </p>
              <p>Wanna see how i was made? 😳 <br />click the box below!</p>
              <a href="https://github.com/KingOKarma/KFCBoy" class="topgg-icon">
                <img
                  src="KFC%20Bucket%20Boy_files/614110037291565056.svg"
                  alt="Stats"
                  class="topgg-icon"
                />
              </a>
            </article>
          </section>
</body>
</html>